@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login container */
  .login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 500px;
  }
  
  /* Form title */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input fields */
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4e73df;
    outline: none;
  }
  
  /* Button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2e59d9;
  }
  
  /* Signup link */
  .signup-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .signup-link a {
    text-decoration: none;
    color: #4e73df;
  }
  
  .signup-link a:hover {
    text-decoration: none;
  }
