@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
/* Reset styles */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
  }
  
  /* Header Section */
  .header {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .header .logo {
    font-size: 1.5rem;
  }
  
  .header .nav ul {
    list-style: none;
    display: flex;
  }
  
  .header .nav ul li {
    margin-left: 20px;
  }
  
  .header .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header .nav ul li a:hover {
    text-decoration: none;
  }
  
  /* Main content styles */
  .main-content {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  
  .content-container {
    font-weight: 500;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 100px auto;
  }
  
  .icon-check img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #393939ab;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #4CAF50;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 25px;
  }
  
  .btn{
    text-decoration: none;
    color: white;
    background: #1bbc00;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .btn:hover{
    background: #158900;
  }

  .footer {
    background: #f4f4f4;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    color: #666;
    margin-top: auto;
}


